name: Test

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  test:
    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      discussions: write
    steps:
      - uses: actions/checkout@v4

      - uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Run tests
        env:
          CARGO_TERM_COLOR: always
        run: RUSTFLAGS="-C target-cpu=native" cargo nextest run
